<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>es.rebextech.filters.LoginFilter</filter-class>
    </filter>
    <filter>
        <filter-name>CodeFilter</filter-name>
        <filter-class>es.rebextech.filters.CodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>RegistroController</servlet-name>
        <servlet-class>es.rebextech.controllers.RegistroController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>es.rebextech.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CarritoController</servlet-name>
        <servlet-class>es.rebextech.controllers.CarritoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CatalogoController</servlet-name>
        <servlet-class>es.rebextech.controllers.CatalogoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FrontController</servlet-name>
        <servlet-class>es.rebextech.controllers.FrontController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UsuarioController</servlet-name>
        <servlet-class>es.rebextech.controllers.UsuarioController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AjaxController</servlet-name>
        <servlet-class>es.rebextech.controllers.AjaxController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistroController</servlet-name>
        <url-pattern>/RegistroController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CarritoController</servlet-name>
        <url-pattern>/CarritoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CatalogoController</servlet-name>
        <url-pattern>/CatalogoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FrontController</servlet-name>
        <url-pattern>/FrontController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UsuarioController</servlet-name>
        <url-pattern>/UsuarioController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AjaxController</servlet-name>
        <url-pattern>/AjaxController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>FrontController</welcome-file>
    </welcome-file-list>
</web-app>
